// Settings.
// -Color.
// -Text.
// -Margins, paddings, Anchor, Container.
// -Shadow
// -Animations
// -Border

// ---------------------- //
*{
	box-sizing:border-box;
}
// Color.
$background-global: #f3f4f6;
$white:	#fff;
$black: #000;
$dark: #333;
$gray-light:#ededed;
$gray-dark:#707070;
$orange:#FC9100;
$red: #FF5722;
$green: #8BC34A;
$bluegreen: #35BCA2;
// Utilities text.
$global-font: "lato", sans-serif;
$font-title-bold: 'Rubik', sans-serif;
// Utilities margins, padding, anchor, containers.
$gutter:16px;
$global-margin: $gutter;
$global-padding: $gutter;
$global-width:	1366px;
$global-anchor:	100%;
$global-radius: $gutter/5;
// Shadows.
$global-shadow: $global-radius/3 $global-radius/3 $global-radius rgba($dark ,.2);
// Animations.
$global-transition: all 460ms ease-in;
$global-subtransition: all 300ms ease-out;
// Border
$global-border-width:	1px;
// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

// @import 'path/to/mq';
// With eyeglass:
// @import 'sass-mq';