// megamenu navigation
.header{
	background:$white;
	.topbar{
		display:none;
		font-size: .8rem;
		@include mq(desktop) {
			display:block;
		}
		width: $global-anchor;
		.top-wrapper{
			display: none;
			@include mq(desktop) {
				display:flex;
				justify-content:space-between;
				.top-containers{
					.seals-value{
						margin-top: 0;
						margin-bottom: 0;
						padding: 0;
						.seal{
							padding:0 $global-padding;
						}
					}
					&:nth-of-type(1){
						align-self:start;
					};
					&:nth-of-type(2){};
					&:nth-of-type(3){};
					.user-um{
						font-weight: 600;
						li{
							&.mobile-settings-menu{
								display:block;
								@include mq(desktop) {
									display:none;
								}
							}
							&:after{
								content:'|';
								padding:0 $global-padding/3;
							}
							a{
								&:hover{
									opacity: .8;
								}
							}
						}
					}
				}
			}
		}
	}
	.container-search{
		width:$global-anchor*.95;
		max-width: $global-width;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		@include mq(desktop) {
			display: flex;
			justify-content:space-between;
		}
		>div{
			@include mq(desktop) {
				padding-right: $global-padding;
				padding-left: $global-padding;
			}
		}
		.logo-um{
			min-width: 154px + $global-padding*2;
			a{
				display:flex;
				img{
					margin-left: auto;
					margin-right: auto;
					margin-top:$global-margin/3;
					margin-bottom:$global-margin/3;
					width:$global-anchor;
					height: 100%;
					max-height: 50px;
					max-width: $global-anchor;
					@include mq(desktop) {
						max-height: 70px;
						max-width: 154px;
					}
				}
			}
		}
	}
.nav-category{
	display: none;
	transition:$global-subtransition;
	position: absolute;
	width:calc(#{$global-anchor} - 120px);
	background: green;
	left: 120px;
	top: 0;
	z-index: 1;
	// background: $white;
	}
	.menu{
		.nav-wrapper{
			@include mq() {
				display:flex;
				justify-content:space-around;
				align-items: center;
				color:$black;
				font-weight: 600;
				position: relative;
				width: $global-anchor*.80;
				max-width: $global-width;
				margin-left: auto;
				margin-right: auto;
			}
			.icon-menu-bars{
				background:$red;
				color:$white;
				padding:7px 10px;
				cursor:pointer;
				
			}
			.megamenu{
				@include mq(desktop) {
					display: none;
					position: absolute;
					width: 100%;
					left:0;
					top:100%;
					background: $white;
					color:$dark;
					box-shadow:$global-shadow;
					font-weight: 400;
					z-index:9;
				}
				.button-category-um{
					position: relative;
					.nav-department{
						display:flex;
						&-item{
							background: $red;
							transition:$global-subtransition;
							color:$white;
							border-bottom:1px solid $white;
							>i{
								margin-left:$global-margin/3;
							}
							@include mq(desktop) {
								width:120px;
								height:120px;
								display: flex;
								align-items: center;
								justify-content: center;
								&:hover{
									background:$orange;
								}
							}
						}
					}
				}
			}
		}
	}
}
.active-f{
	display: flex!important;
}