.background-color{
	&-background-global{@include background-color($background-global);}
	&-white{@include background-color($white);}
	&-black{@include background-color($black);}
	&-dark{@include background-color($dark);}
	&-gray-light{@include background-color($gray-light);}
	&-gray-dark{@include background-color($gray-dark);}
	&-orange{@include background-color($orange);}
	&-red{@include background-color($red);}
	&-green{@include background-color($green);}
	&-bluegreen{@include background-color($bluegreen);}
}
.text-color{
	&-background-global{@include text-color($background-global);}
	&-white{@include text-color($white);}
	&-black{@include text-color($black);}
	&-dark{@include text-color($dark);}
	&-gray-light{@include text-color($gray-light);}
	&-gray-dark{@include text-color($gray-dark);}
	&-orange{@include text-color($orange);}
	&-red{@include text-color($red);}
	&-green{@include text-color($green);}
	&-bluegreen{@include text-color($bluegreen);}
}
.border{
	&-top{@include default-border-color(top);}
	&-right{@include default-border-color(right);}
	&-bottom{@include default-border-color(bottom);}
	&-left{@include default-border-color(left);}
}
.btn-um{
	border-radius: $global-radius;
	padding:$global-padding/3 $global-padding;
	border:0;
	cursor:pointer;
	&:hover{
		opacity: .8;
	}
	&-background-global{@include background-color($background-global);}
	&-white{@include background-color($white);}
	&-black{
		@include background-color($black);
		color:$white;
		}
	&-dark{
		@include background-color($dark);
		color:$white;
		}
	&-gray-light{@include background-color($gray-light);}
	&-gray-dark{
		@include background-color($gray-dark);
		color:$white;
		}
	&-orange{@include background-color($orange);}
	&-red{
		@include background-color($red)
	;}
	&-green{@include background-color($green);}
	&-bluegreen{@include background-color($bluegreen);}
	color:$white;
		}
.list-inline-um{
		list-style: none;
		display: flex;
	}
.margin-none-um{
	margin:0;
}
.padding-none-um{
	padding:0;
}
.mobile-none{
	display:none;
}
.desktop-none{
	@include mq (desktop) {
		display:none;
	}
}
.desktop-up{
	@include mq (desktop) {
		display:block;
	}
}